        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>


<!-- //UPDATING THE USER PROFILE  -->
<!-- with the help of this code we can change the name email in the profile page  -->

<!-- if user matches then show the form if not then show only profile page info -->
        
<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <!-- with the help of this post method only we are able to send our data to the database  -->
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit"  value="Update">
    </form>
    
<%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<%} %> 